@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alef:wght@400;700&family=Dancing+Script:wght@400..700&family=Julius+Sans+One&display=swap');

body {
  background-color: #101524;
  color: #fceeec;
  font-family: 'Alef', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0%;
}
#app {
}
/*  THIS THE SCROLL-BARR */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #919191;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}

/* END OF SCHROLL BAR */

/* .advent-pro-<uniquifier> {
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alef-regular {
  font-family: "Alef", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alef-bold {
  font-family: "Alef", sans-serif;
  font-weight: 700;
  font-style: normal;
} */
